.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #f4f3ee;
}
footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.txt {
  color: #0f4c5c;
}
/* navbar styling */
.nav,
.nav-item .nav-link {
  border: 0px;
  color: #0f4c5c;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
  margin: 0 10px;
  opacity: 0.7;
}
.nav-item .nav-link:hover {
  opacity: 2;
  border-bottom: 5px solid #0f4c5c;
}

.image {
  position: relative;
  padding: 0;
  height: 60px;
  width: 75px;
  margin: 0;
}
.img1 {
  width: 500px;
  height: 400px;
}
.txtcard {
  color: black;
}

/* my submit button */
.mybtn {
  background-color: #ffcc00;
  color: #540b0e;
}
.mybtn:hover {
  background-color: #e49f0a;
}
.li {
  background-color: #f4f3ee;
}
.li-text {
  color: #0f4c5c;
}
.li-text:hover {
  color: #197278;
}
